.testi_title {
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}

.testi_name {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    margin-top: 35px;
}

.test_box {
    border-width: 3px;
    border-style: solid;
    border-image:
        linear-gradient(to top,
            #DF581E,
            rgba(0, 0, 0, 0)) 1 50%;
    border-left: none;
}

.testi_position {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;
}

.testi_desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.head_title {
    font-size: 50px;
    color: #56402A;
    font-weight: 800;
}


.description {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
    padding: 0px 20px;
    width: 30vw;
    border-left: 5px solid #395FE2;
}

.description_section_2 {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
    width: 20vw;
}

.description_section_3 {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.footer_main {
    height: 444px;
    background: #56402A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0.2rem calc((100vw - 1000px) / 6);
}

.section4_main {
    background-image: url('../../images//section_bg.png');
    background-size: cover;
    margin-top: 40px;
    padding: 100px calc((100vw - 1000px) / 6);
}

.footer_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.feature_title {
    font-size: 24px;
    color: #56402A;
    font-weight: 700;
}

.social_icons {
    margin-left: 20px;
}

.footer_quote {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

::placeholder {
    font-size: 24px;
}

.clients_div {
    background-color: #FFFFFF;
    align-items: center;
    display: flex;
    height: 90px;
    bottom: 0;
}

.client_logo {
    flex: 0.5;
    height: 50px;
    width: auto;
    object-fit: contain;
}

.section1_image {
    flex: 0.5;
    height: auto;
    width: 100%;
    object-fit: contain;
}

.section1_inner {
    flex: 0.5;
    text-align: 'left';
}

.section1_main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.section1_start {
    padding-top: 100px;
}

.padding-fluid {
    padding: 100px calc((100vw - 1000px) / 6);
}

.left-fluid-padding {
    padding-left: calc((100vw - 1000px) / 6);
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.section2_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section2_image {
    flex: 0.5;
    padding-left: calc((100vw - 1000px) / 6);
    height: auto;
    width: 100%;
    object-fit: contain;
}

.section2_inner {
    flex: 0.5;
    text-align: left;
    padding-left: 45px;
}

.feature_box_main {
    background-color: #FFFFFF;
    margin-bottom: 100px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    padding: 100px 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 100;

}

.feature_box_image {
    flex: 1;
    padding-left: calc((100vw - 1000px) / 6);
    height: auto;
    width: 100%;
    object-fit: contain;
}

.feature_box_content {
    flex: 0.4;
    text-align: left;
    padding-left: 45px;
}

.section5_image {
    height: auto;
    width: 100%;
    margin-top: 150px;
}

.section5_main {
    background-color: #FFFFFF;
    padding: 100px calc((100vw - 1000px) / 6);
}

.email_input {
    flex: 0.8;
    font-family: 'Mulish', sans-serif;
    border-radius: 8px;
    border: 1px solid #000;
    height: 60px;
    padding-left: 20px;
    font-size: 24px;
}

.book_feature_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.book_feature_image {
    height: 320px;
    width: auto;
}

.footer_address {
    flex: 0.3;
    text-align: left;
}

.footer_social {
    flex: 0.3;
    text-align: right;
}

@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
}




@media screen and (max-width: 600px) {
    .section1_main {
        flex-direction: column;
    }

    /* .section1_image {
        margin-left: 20px;
    } */

    .description {
        width: 100%;
        font-size: 16px;
        border: none;
        padding: 0;
    }

    .description_section_2 {
        width: 100%;
        font-size: 16px;
        border: none;
        padding: 0;
    }

    .description_section_3 {
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }

    .head_title {
        font-size: 30px;
        color: #56402A;
        font-weight: 800;
    }

    .section1_start {
        padding-top: 20px;
    }

    .section2_main {
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section2_image {
        padding: 20px;
    }

    .section2_inner {
        flex: 1;
        text-align: center;
        padding-left: 0;
        margin-top: 30px;
    }

    .section1_inner {
        margin-bottom: 30px;
    }

    .feature_box_main {
        flex-direction: column;
        padding: 20px;
        margin: 20px;
    }

    .feature_box_image {
        margin-bottom: 20px;
    }

    .feature_box_content {
        padding-left: 0px;
    }

    .pt-100 {
        padding-top: 20px;
    }

    .pb-100 {
        padding-bottom: 20px;
    }

    .clients_div {
        overflow: scroll;
    }

    .client_logo {
        padding: 0px 15px;
    }

    .section4_main {
        background-image: url('../../images//section_bg.png');
        background-size: cover;
        margin-top: 20px;
        padding: 0px;
    }

    .section5_image {
        margin-top: 30px;
    }

    .email_input {
        font-family: 'Mulish', sans-serif;
        border-radius: 6px;
        border: 1px solid #000;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
    }

    ::placeholder {
        font-size: 16px;
    }

    .book_feature_div {
        flex-direction: column;
        margin-top: 20px;
        padding: 20px;
    }

    .book_feature_image {
        height: auto;
        width: 100%;
        padding-bottom: 20px;
    }

    .p-v-20 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer_main {
        height: 444px;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer_social {
        text-align: center;
    }
}