@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');

.App {
  text-align: center;
  font-family: 'Mulish', sans-serif;
  background-color: #F5F5F5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.testi_title {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.testi_name {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-top: 35px;
}

.test_box {
  border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(to top,
      #DF581E,
      rgba(0, 0, 0, 0)) 1 50%;
  border-left: none;
}

.testi_position {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-top: 10px;
}

.testi_desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.head_title {
  font-size: 50px;
  color: #56402A;
  font-weight: 800;
}


.description {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  padding: 0px 20px;
  width: 30vw;
  border-left: 5px solid #395FE2;
}

.description_section_2 {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  width: 20vw;
}

.description_section_3 {
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  text-align: center;

}

.footer_main {
  height: 444px;
  background: #56402A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0.2rem calc((100vw - 1000px) / 6);
}

.section4_main {
  background-image: url('./images/section_bg.png');
  background-size: cover;
}

.footer_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.feature_title {
  font-size: 24px;
  color: #56402A;
  font-weight: 700;
}

.social_icons {
  margin-left: 20px;
}

.footer_quote {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

::placeholder {
  font-size: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}